{% extends 'base.html' %}

{% block title %} {{ content }} articles {% endblock %}

{% block header_title %} {{ content }} articles {% endblock %}

{% block content %}
<div id="content-many"></div>
<script>
    window.onerror = () => {
        let error_message = document.createElement('h5');
        error_message.className = 'alert alert-danger d-inline';
        error_message.innerHTML = 'We got some error during loading of this page. ' +
            'Try again later or check out other pages!';
        document.body.append(error_message);
    }

    const articlesURL = '{{ api_link }}';
    const xhr = new XMLHttpRequest();
    xhr.open('GET', articlesURL);
    xhr.send();
    xhr.onload = () => {
        let parsed_articles = JSON.parse(xhr.response);

        if (parsed_articles <= 0) {
            let message = document.createElement('h2')
            message.innerHTML = 'Looks like there are no articles yet! :('
            document.body.append(message)
        }

        let content_div = document.getElementById('content-many');
        for (let article of parsed_articles) {
            {% include 'create_card.js' with content_div=content_div article=article %}
        }

        if ('{{ content }}' != 'All') {
            let home_page_link = document.createElement('a');
            home_page_link.className = 'main-page-link';
            home_page_link.href = '/';
            home_page_link.innerHTML = 'Back to all articles';

            content_div.after(home_page_link)
        }
    }
</script>
{% endblock %}